<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Empresa Directory</title>
</head>

<body>

<div class="container">

    <h3>Empresa Directory</h3>
    <hr>


    <a th:href="@{/empresas/mostrarFormCadastrarEmpresa}"
       class="btn bnt-primary btn-sm mb-3">
        Adicionar Empresa
    </a>



    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Nome da Empresa</th>
            <th>CNPJ</th>
            <th>Cidade </th>
            <th>ACOES</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempEmpresa : ${empresa}">

            <td th:text="${tempEmpresa.nome}" />
            <td th:text="${tempEmpresa.cnpj}" />
            <td th:text="${tempEmpresa.cidade}" />

            <td>
                <a th:href="@{/empresas/mostrarFormAtualizarEmpresa(empresaid=${tempEmpresa.Id})}"
                   class="btn btn-info btn-sm">

                    Update
                </a>

                <a th:href="@{/empresas/deletar(empresaid=${tempEmpresa.Id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if(!(confirm('tem certeza que deseja excluir?'))) return false">
                    Deletar
                </a>
            </td>

        </tr>
        </tbody>
    </table>

</div>

</body>
</html>
